/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
	background-color: #F5F5F5 !important;

    /*background: radial-gradient(circle at 10% 20%, rgba(238, 245, 255, 0.5), transparent 50%), 
              radial-gradient(circle at 90% 80%, rgba(180, 212, 255, 0.5), transparent 50%),
              radial-gradient(circle at 50% 50%, rgba(134, 182, 246, 0.5), transparent 50%),
              radial-gradient(circle at 80% 20%, rgba(23, 107, 135, 0.5), transparent 50%),
              radial-gradient(circle at 20% 80%, rgba(134, 182, 246, 0.5), transparent 50%);
  background-blend-mode: screen;
  */
}