<div class="container">
	<div class="elements">
		<div class="adress">
				<h2 class="title">Date de livrare</h2>
				<h3 class="order_adress">Adresa(Strada,bloc,etaj)</h3>
				<input type="text">
				<h3 class="order_adress">Numarul</h3>
				<input type="number">
				<h3 class="order_adress">Oras/Localitate</h3>
				<input type="text">
				<h3 class="order_adress">Cod postal</h3>
				<input type="number">
				<h3 class="order_adress">Nr. de telefon</h3>
				<input type="number">
				<h3 class="order_adress">Email</h3>
				<input type="email">
				<h3 class="order_adress">Mentiuni</h3>
				<input type="text">
		</div>
		<div class="payment">
			<fieldset>
				<legend><h2>Alege metoda de plata:</h2></legend>
			  
				<div class="option">
					<label for="numerar"><h3>Numerar</h3></label>
				  <input type="radio" id="numerar" name="monster-feature" value="numerar" checked />
				</div>
			  
				<div class="option">
				  <label for="card"><h3>Card</h3></label>
				  <input type="radio" id="card" name="monster-feature" value="card" />
				</div>
			  </fieldset>
		</div>
		<div class="order-final">
			<button class="order-final2"><h2>Trimite comanda</h2></button>
		</div>
	</div>
</div>