.auth-form {
    display: flex;
    flex-direction: column; /* Elemente aranjate vertical */
    align-items: center;
    margin: 20px auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.auth-header {
    display: flex;
    justify-content: center;
    /*width: 100%; / Lățimea să fie aceeași ca la auth-form */
    margin-bottom: 0; /* Elimină marginea de jos pentru a fi lipită de login-form */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 6px 10px;
    background-color: #0D1321;
    border: 1.5px solid #0D1321;
}
.buton-user {
    background-color: #0D1321;
    color: #F5F5F5;
    padding: 15px 45px;
    border: 1px #3855E8 solid;
}
.buton-user a {
    color: #F5F5F5;
    text-decoration: none;
    text-align: center;
}
.buton-user:hover {
    cursor: pointer;
    background-color: rgb(86, 86, 86);
}