<div>
	<nav class="navbar">
	  <div class="nav-links">
		<ul class="logo">
		  <li class="logo"><a href="home"><img src="./assets/images/logo5.png" alt="logo" width="100"></a></li>
		</ul>
		
		<div class="nav-right">
		  <button class="buton" (click)="toggleSidebar()">
			<img src="./assets/images/auth.png" alt="authentification" width="35" height="35">
		  </button>
		</div>
	  </div>
	</nav>
  
	<div class="sidebar" *ngIf="isSidebarOpen">
	  <ul>
		<li *ngIf="!isLog()"><a href="/user/register">Înregistrare</a></li>
		<li *ngIf="!isLog()"><a href="/user/login">Autentificare</a></li>
		<li *ngIf="isLog()"><a href="/user">Cont</a></li>
		<li *ngIf="isLog()"><a (click)="onLogout()">Deconectare</a></li>
	  </ul>
	</div>
  </div>
  