<div class="container">
    <div class="cos_cumparaturi">
        <ul class="cos_cumparaturi_menu">
            <h3 class="list"><b>Lista dumneavoastră</b></h3>
        </ul>
        <table>
            <thead class="tabel_menu">
                <tr>
                    <th class="articol">Articol</th>
                    <th>Pret</th>
                    <th>Produse</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="imagine_tabel"><img src="./assets/images/stand_phone.png" alt=""><span class="descr_prod">Stand telefon</span></td>
                    <td class="cost_tabel"><b>10 euro</b></td>
                    <td class="cantitate_tabel"><input type="number" class="quantity-input" value="1" min="1"></td>
                    <td class="total_tabel"><b>10 euro</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="total_amount">
        <h3 class="amount">Total de plata</h3>
        <h4 class="amount">Cost produse: 10 euro</h4>
        <h4 class="amount_bottom">Cost Transport: 5 euro</h4>
        <h3 class="amount"><b>Total:</b> 15 euro</h3>
        <button class="buton_final">Finalizare comanda</button>
    </div>
</div>
