* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-bottom: 200pt;
    box-sizing: border-box;
    align-items: stretch;
    color: #EEEEEE;
}

.cos_cumparaturi, .total_amount {
    border: 2px solid #3855E8;
    background: #393E46;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.amount{
    padding: 5px;
}
.amount_bottom{
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #3855E8;
}
.cos_cumparaturi {
    width: 70%;
}

.total_amount {
    width: 30%;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

thead th,
tbody td {
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

.articol {
    text-align: left;
    padding-left: 0px;
}

.imagine_tabel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imagine_tabel img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #3855E8;
}

.descr_prod {
    position: center;
    bottom: 0;
    left: 100%;
    padding: 15px;
    border-radius: 5px;
}

.cantitate_tabel input {
    width: 50px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.cos_cumparaturi_menu {
    background: transparent;
   border-bottom: 2px solid #3855E8;
}

.list {
    list-style: none;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 25px;
    
}

.final_shop {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.final_shop a {
    text-decoration: none;
}

.buton_final {
    background-color: #3855E8;
    color: #F5F5F5;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    margin: 20px;
}

.buton_final:hover {
    background-color: #555;
    color: white;
}
.buton_final a:hover{
    background-color: #555;
    color: #F5F5F5;
}
.buton_final a{
    text-decoration: none;
        background-color: #3855E8;
    color: #F5F5F5;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    margin: 20px;
}

/* Media Query pentru dispozitive mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .cos_cumparaturi, .total_amount {
        width: 100%;
        margin-bottom: 20px;
    }

    .total_amount {
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
    }

    table, thead, tbody, th, td, tr {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;
    
    }
    .imagine_tabel{
        justify-content: right;
    }

    thead tr {
        display: none;  /*Ascundem header-ul tabelului pe mobil */
    }
    .total_tabel,.cantitate_tabel,.descr_prod{
        display: none;
    }
    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: right;
        padding-left: 40%;
        position: relative;
    }

/*    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
        }
*/
        }