.confirm-order-box {
    width: 70%;
    margin: 50px auto;
    border-radius: 5px;
    margin-bottom: 200px;
    padding: 20px;
}

h1 {
    padding: 10px;
    text-align: center;
}

h3 {
    padding: 20px;
    text-align: center;
    color: rgb(59, 58, 58);
}