.product {
    align-items: center;
    padding: 50px;
    text-align: center;
}

.product ul {
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.buton_filter {
    background-color: #0D1321;
    color: #EEEEEE;
    border: 3px solid #3855E8;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buton_filter:hover {
    background-color: #555;
    color: #fff;
}

img {
    width: 400px; 
    height: 400px;
    border-radius: 20px;
    object-fit: cover; /* asigură imaginea acoperă containerul */
}

.quantity-container {
    background: #393e46;
    border: 4px solid #3855E8;
    padding: 5px;
    width: 40px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.quantity-input {
    color: #F5F5F5;
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
}

/* Ascunde săgețile pentru Webkit (Chrome, Safari, Opera) */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ascunde săgețile pentru Firefox 
.quantity-input[type=number] {
    -moz-appearance: textfield;
}
*/
.button_product {
    background: #393e46;
    color: #F5F5F5;
    border-radius: 10px;
    border: 4px solid #3855E8;
    padding: 5px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.button_product:hover {
    background-color: rgb(230, 229, 222);
    color: rgb(8, 24, 69);
}

.product-item {
    clear: both;
    overflow: hidden;
    padding-bottom: 5px;
    text-align: center;
    position: relative; /* Add this line */
}

#cartButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #393e46;
    color: #EEEEEE;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#cartButton a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EEEEEE;
    text-decoration: none;
}

#cartItemCount {
    position: absolute;
    top: -4px;
    right: -4.5px;
    background-color: #3855E8;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}

#cartButton:hover {
    background-color: #555;
}

.Short_description {
    width: 70%;
    padding: 10px 15px;
    border-bottom: 2px solid #3855E8;
    border-top: 2px solid #3855E8;
    color: #0D1321;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
}

.pret_produs {
    display: block;
    color: #0D1321;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 400px;
    perspective: 1000px;
    display: inline-block;
    margin: 0;
    padding-top: 25px;
}

.flip-card-front, .flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}



@media only screen and (max-width: 768px) {
    img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
    .filter {
        width: 100%;
        height: auto;
        margin-left: 0 auto;
        margin-right: 0 auto;
        padding-bottom: 10px;
    }
    .buton_filter {
        font-size: 15px;
    }
    .product ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .product li {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    #cartButton {
        width: 50px;
        height: 50px;
        padding-top: 3px;
        padding-bottom: 1px;
        transition: all 0.3s ease;
    }
    #cartItemCount {
        top: -3px;
        right: -3px;
        font-size: 12px;
        padding: 3px 6px;
    }
    #cartButton a {
        padding: 7px;
        margin: 0;
    }
    .pret_produs {
        font-size: 20px;
    }
    .product-item {
        padding: 0;
    }
    .details {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .button_product {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .flip-card {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
    .flip-card-front {
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description-container {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
    .description-container.open {
        max-height: 2000px; /* Ajustați înălțimea maximă după cum este necesar */
    }
}
