<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <ul class="footer-links">
                <li><a href="#"><img src="./assets/images/logo5.png" alt="footer" width="100"></a></li>
                <li><a href="https://www.instagram.com/n.a.printer/" target="_blank"><img src="./assets/images/instagram2.png" alt="Instagram" width="30" height="30"></a></li>
            </ul>
        </div>
        <div class="footer-section">
            <ul class="footer-info">
                <li><b>NA PRINTER SRL</b></li>
                <li><b>BH - Oradea - Str. Vasile Alecsandri nr.1</b></li>
                <li><b>email: naprinter@gmail.com</b></li>
            </ul>
        </div>
    </div>
</footer>