<div class="introduction">
    <h2 class="introduction-content">Dacă ești un designer</h2>
    <h3 class="introduction-content">un inventator</h3>
    <h3 class="introduction-content">sau doar cineva care vrea să-și personalizeze produsele</h3>
    <h3 class="introduction-content">noi îți suntem alături și îti oferim soluții personalizate</h3>
  
    <div class="accordion">
        <div class="accordion-item">
            <header class="accordion-header">
                <span class="title"><b>Cum functioneaza?</b></span>
                <i class="fas fa-plus"></i>
            </header>
            <div class="description">
                <p>Alege unul din produsele noastre sau spune-ne ideea ta </p>
                <p><a href="mailto:naprinter01@gmail.com" ><i>naprinter01@gmail.com</i></a></p>
                <p>Sau ne găsiți pe</p>
                <p><a href="https://www.instagram.com/n.a.printer/" target="_blank"><img src="./assets/images/instagram2.png" alt="Instagram" width="40" height="40"></a></p>
            </div>
        </div>
    </div>
  
    <h3 class="introduction-content">Iti putem oferi un sprijin in ceea ce doresti sa creezi </h3>
    
  
    <div class="accordion">
        <div class="accordion-item">
            <header class="accordion-header">
                <span class="title"><b>Cine suntem noi?</b></span>
                <i class="fas fa-plus"></i>
            </header>
            <div class="description">
                    <div class="paragraf_desc">
                <p>Totul a pornit din pasiunea noastra pentru tehnologie</p>
                <p>Iar cand tehnologia s-a contopit cu imaginatia am aparut noi</p>
                <p>Ne dorim ca fiecare idee sa nu fie uitata</p>
                <p>Alegand serviciile noastre , poti fi sigur ca ideea ta se va materializa</p>
            </div>
                <p>Te asteptam sa descoperi produsele noastre <i class="fa-regular fa-heart" style="color: #ff0000;"></i></p>
            </div>
        </div>
    </div>
    
    <h2 class="introduction-content">Descoperă creația noastră</h2>
  
    <div class="buton">
        <a href="products-list" class="buton1"><b>Alege produsul care ți se potrivește</b></a>
    </div>
  </div>