<div class="introduction">
    <h2 class="introduction-content">Dacă ești un designer</h2>
    <h3 class="introduction-content">un inventator</h3>
    <h3 class="introduction-content">sau doar cineva care vrea să-și personalizeze produsele</h3>
    <h3 class="introduction-content">noi îți suntem alături și îti oferim soluții personalizate</h3>

    <div class="accordion">
        <div class="accordion-item">
            <header class="accordion-header">
                <span class="title"><b>Cum functioneaza?</b></span>
                <i class="fas fa-plus"></i>
            </header>
            <div class="description">
                <p>Trimite ideea ta la adresa</p>
                <p><a href="mailto:naprinter01@gmail.com" >naprinter01@gmail.com</a></p>
                <p>Sau ne găsiți pe</p>
                <p><a href="https://www.instagram.com/n.a.printer/" target="_blank"><img src="./assets/images/instagram2.png" alt="Instagram" width="40" height="40"></a></p>
            </div>
        </div>
    </div>

    <h3 class="introduction-content">Iti putem oferi un sprijin in ceea ce doresti sa creezi </h3>
    

    <div class="accordion">
        <div class="accordion-item">
            <header class="accordion-header">
                <span class="title"><b>Cine suntem noi?</b></span>
                <i class="fas fa-plus"></i>
            </header>
            <div class="description">
                    <div class="paragraf_desc">
                <p><i>Suntem o companie de imprimare 3D cu o pasiune inegalabilă pentru a transforma imaginația în realitate.</i></p>
                <p><i>Suntem printre puținii care au curajul să aducă viitorul în prezent.</i></p>
                <p><i>Echipa noastră este compusă din persoane cu un talent unic.</i></p>
                <p><i>Fiecare membru este un artist, un maestru al tehnologiei, și un călător în lumea creativității.</i></p>
                    </div>
                <p><i>Noi credem în principiul de</i> <b>"Gestionare a Proiectelor și Servicii Personalizate,"</b><i>unde fiecare client are parte de atenție exclusivă.</i></p>
            </div>
        </div>
    </div>
    
    <h2 class="introduction-content">Descoperă creația noastră</h2>

    <div class="buton">
        <a href="products-list" class="buton1"><b>Alege produsul care ți se potrivește</b></a>
    </div>
</div>
